*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
html {
font-size: 10px;
background: url("images/tekken.jpg");
background-size: cover;

  } 
.characters{
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}
.char {
    border: 5px solid black;
    border-radius: 100%;
    margin: 1rem;
    padding: 1rem;
    transition: all 0.07s ease;
    width: 120px;
    text-align: center;
    background: black;
    text-shadow: 0 0 .5rem black;
}
.playing {
    transform: scale(1.1);
    border-color: #ff3c00;
    box-shadow: 0 0 1rem #ff3c00;
  }